@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
    height: 100%;
}
body{
  margin: 0;
  background: #11101D;
  padding: 0 10px;
  min-height: 100% ;
}

/* html {
    height: 100%;
}
body {
    min-height: 100%;
} */
.wrapper{
  max-width: 800px;
  width: 100%;
  background: #fff;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
  padding: 30px;
}

.registration {
    font-size: 30px;
}

hr { 
    border: 1px solid black;
    margin: 10px 0 10px 0;
    
}

/* to hide the arrows in select */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

